@model BestTickets.Models.RouteViewModel

@{
    ViewBag.Title = "Best Tickets";
}

<div class="jumbotron jumbocolor text-center row">
    <div class="col-xs-12">
        <h1>Best tickets</h1>
        <h3>Выбор лучших билетов</h3>
    </div>
</div>

<div class="row text-center">
    <h4 class="text-center headerText marginSub">Выберите маршрут</h4>
</div>

<div class="text-center">
    @Html.ValidationMessageFor(x => x.DeparturePlace, null, new { @class = "text-danger" })<br />
    @Html.ValidationMessageFor(x => x.ArrivalPlace, null, new { @class = "text-danger" })<br /><br />
</div>

@*<div class="hidden-xs row">
    @using (Ajax.BeginForm("../api/tickets", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "tickets", InsertionMode = InsertionMode.Replace, LoadingElementId = "loader", OnBegin = "showLoading", OnComplete = "showTickets"}))
    {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-inline col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <div class="form-group col-sm-3">
                        @Html.TextBoxFor(x => x.DeparturePlace, new { @class = "form-control departurePlace", @placeholder = "Отправление" })
                    </div>
                    <div class="form-group spaceLeft  col-sm-3">
                        @Html.TextBoxFor(x => x.ArrivalPlace, new { @class = "form-control arrivalPlace", @placeholder = "Прибытие" })
                    </div>
                    <div class="form-group spaceLeft col-sm-3">
                        <input type="date" class="form-control" id="Date" name="Date" />
                    </div>
                    <div class="form-group col-sm-3">
                        <input class="btn btn-default form-control" type="submit" value="Поиск" />
                    </div>
            </div>      
    } 
</div>


<div class="visible-xs row">
    @using (Ajax.BeginForm("../api/tickets", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "tickets", InsertionMode = InsertionMode.Replace , LoadingElementId = "loader", OnBegin = "showLoading", OnComplete = "showTickets"}))
    {

         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal col-xs-12">
            <div class="row"></div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="form-group col-xs-10">
                    @Html.TextBoxFor(x => x.DeparturePlace, new { @class = "form-control departurePlace", @placeholder = "Отправление" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="form-group col-xs-10">
                    @Html.TextBoxFor(x => x.ArrivalPlace, new { @class = "form-control arrivalPlace", @placeholder = "Прибытие" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="form-group col-xs-10">
                    <input type="date" class="form-control" id="Date" name="Date" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="form-group col-xs-4">
                    <input class="btn btn-default form-control" type="submit" value="Поиск" />
                </div>
            </div>
        </div>
        <div class="spaceAfterForm row"></div>
    } 
    
</div>*@

<div class="row">
        <div class="form-inline col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="form-group col-sm-3">
                <input type="text" id="DepPlace" class="form-control departurePlace" placeholder="Отправление" />
            </div>
            <div class="form-group spaceLeft  col-sm-3">
                <input type="text" id="ArrPlace" class="form-control arrivalPlace" placeholder="Прибытие" />
            </div>
            <div class="form-group spaceLeft col-sm-3">
                <input type="date" class="form-control" id="TickDate" name="Date" />
            </div>
            <div class="form-group col-sm-3">
                <button class="btn btn-default form-control" id="getTicketsBtn">Поиск</button>
            </div>
        </div>
</div>

<div id="topRoutes" class="top10Routes row text-center">
    <br />
    <h4 class="headerText text-center">Наиболее частые маршруты</h4>
</div>

<div id="loader" class="loadingProgress"></div>
<div id="tickets" class="row" >
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
    <script>
        
        $(function () {
            $("#getTicketsBtn").on("click", function () {
                var route = {};
                route.DeparturePlace = $("#DepPlace").val;
                route.ArrivalPlace = $("#ArrPlace").val;
                route.Date = $("#TickDate").val;
                $.ajax({
                    type : "GET",
                    url : "../api/tickets/" + route,
                    datatype: "JSON",
                    cache: false,
                }).success(function (data) {
                    var generatedHtml = "";
                    for (var i = 0; i < data.length; i++) {
                        generatedHtml += '<div class="ticketCard-sm ticketCard"><div class="text-center routeLabel"><strong>' +
                        data[i].Name + '<span>Маршрут:</span>' + data[i].Route + '</strong></div>' +
                        '<div><span>Тип:</span>' + data[i].Type + '</div><div><span>Отправление: </span>' +
                        data[i].DepartureTime + '<span>Прибытие: </span>' + data[i].ArrivalTime +
                        '</div><div><span>Свободные места:</span>';
                        for (var j = 0; j < data[i].Places.length; j++) {
                            generatedHtml += '<p> <span class="placeType">' + data[i][j].Type +
                            ' / </span><span class="placeAmount">' + data[i][j].Amount + ' / </span><span class="placeCost">';
                            if(data[i][j].isCostLessThanAverage){
                                generatedHtml += '<span class="label-success"><strong>' + data[i][j].Cost + '</strong><span>руб.</span></span>';
                            }
                            else{
                                generatedHtml += '<span class="label-danger"><strong>' + data[i][j].Cost + '</strong><span>руб.</span></span>';
                            }
                            generatedHtml += '</span></p>';
                        }
                        generatedHtml += '</div></div></div>';
                    }
                    $("#tickets").html(generatedHtml);
                })
            })
        })
      
        function showLoading() {
            $(".pageFade").show();
            $(".loadingProgress").show();
        }

        function fadeLoading() {
            $(".pageFade").hide();
            $(".loadingProgress").hide();
        }

        var routesUri = '../api/routes';

        $(document).ready(function () {
            $.getJSON(routesUri)
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var spanElement = document.createElement("span");
                        spanElement.className = "mostFrequentRoute";
                        var routeLink = document.createElement("button");
                        routeLink.addEventListener("click", function () { fillRouteFields(item.DeparturePlace, item.ArrivalPlace) });
                        routeLink.innerText = showRoute(item);
                        spanElement.appendChild(routeLink);
                        $(spanElement).appendTo("#topRoutes");
                    });
                });
        });

        function fillRouteFields(depPlaceValue, arrPlaceValue) {
            var departurePlaceField = document.querySelectorAll(".departurePlace");
            var arrivalPlaceField = document.querySelectorAll(".arrivalPlace");
            for (i = 0; i < departurePlaceField.length; i++) {
                departurePlaceField[i].value = depPlaceValue;
                arrivalPlaceField[i].value = arrPlaceValue;
            }
        }

        function showRoute(item) {
            return item.DeparturePlace + " - " + item.ArrivalPlace;
        }

    </script>
}

